.c-main-title{
    font-size: $font-size_xxl;
    // font-family: $font-family_logo;
    color: #BFAAB2;
    // margin: 30px 0;
    // font-family: 'Darker Grotesque', sans-serif;
    text-align: center;
}

.c-sub-title{
    font-size: 16px;
    text-align: center;
}