.p-news__inner{
    background-color: rgba(191,170,178,0.3);
}
.p-news__container{
    @extend .content-width;
    height: 300px;
    position: relative;
    
}
.p-news__main{
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 5%;
    width: 90%;
    height: 240px;
    margin: 0 auto;
    overflow-y: scroll;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    // padding: 15px 20px;
}
.p-news__item{
    background: #fff;
}
.p-news__date, .p-news__title{
    font-size: 10px;
    padding-left:10px;
}
.p-news__title{
    &:hover{
        text-decoration: underline;
    }
}

