.p-footer{
   
    padding: 60px 0;
    background: rgba(105,104,140,0.85);
    color: #fff;
}
.p-footer__inner{
    @extend .content-width;
}
.p-footer__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.p-footer__ul{
    display: flex;
    flex-direction: column;
}
.p-footer__li{
    padding: 0;
    margin: 10px;
    font-size: 14px;

    &:nth-of-type(4){
        margin-bottom: 20px;
    }

    & > a{
        color: #fff;

        &:hover{
            text-decoration: underline;
        }
    }

}
.p-footer__logo{
    font-size: 22px;
    font-family: $font-family_logo;
    font-weight: bold;
    display: flex;
    justify-content: center;

}
.p-footer__border{
        border-top: 1px solid #fff;
        content: "";
        display: block;
        position: relative;
        z-index: 3;
        width: 100%;
        margin-bottom: 80px;
    }
.p-footer__copyright{
    font-size: 12px;
    text-align: center;
}
.p-footer__sns{
    text-align: center;
    
    

    .p-footer__snsimg{
        width: 30px;
    height:30px;
    padding:  40px 5px;
    }
}
.p-footer__totop{
text-align: right;
padding-right: 10px;
position: relative;

    & .fa-angle-up{
        position: fixed;
        font-size: 40px;
        right: 0;
  bottom: 0;
  color:#333;
  margin-right: 10px;
  z-index: 101;

  &:hover{
      cursor: pointer;
  }
    }
}
